bridges {
  kafka {
    sinc_connector_output {
      authentication = "none"
      bootstrap_hosts = "kafka-kraft:29092"
      kafka {
        topic = "sinc_topic"
      }
    }
  }
  kafka_consumer {
    source_connector_input {
      authentication = "none"
      bootstrap_hosts = "kafka-kraft:29092"
      topic_mapping = [
        {
          kafka_topic = "source_topic"
          mqtt_topic = "mqttx/source_topic"
        }
      ]
    }
  }
}
rule_engine {
  rules {
    sinc_rule {
      actions = ["kafka:sinc_connector_output"]
      sql = "SELECT payload FROM \"mqttx/simulate/#\""
    }
    source_rule {
      actions = ["republish:source_connector_output"]
      sql = "SELECT * FROM \"$bridges/kafka_consumer:source_connector_input\""
    }
  }
  ignore_sys_message = true
  jq_function_default_timeout = "10s"
}